<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <script scr="js/jquery-3.1.1.min.js"></script>
        <script scr="js/bootstrap.min.js"></script>
        <script scr="js/script.js"></script>
    </head>
    <body>
        <div id="div1"><img src="picture/northlight.jpg" /></div> 
        <h1>North Polo Bed and Breakfast</h1>
        <h4>Enter <a data-th-href="@{/rooms}">here</a></h4>
    </body>
</html>