<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <h1>HouseRater</h1>
        <script scr="js/script.js"></script>
    </head>
    <body>
        <nav>
            <ul class="nav"> 
                <li class="rooms" onclick="refishUrl('showrooms');">Room</li>
                <li class="activity" onclick="refishUrl('showactivity');">Activity</li>
                <li class="breakfast" onclick="refishUrl('showbreakfast');">Breakfast</li>
                <li class="reservation" onclick="refishUrl('showreservation');">Booking</li>
                <li>
                    <form data-th-action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </nav>
        <section>
            <div id="showrooms">here is rooms</div>
            <div id="showactivity">here is activity</div>
            <div id="showbreakfast">here is breakfast</div>
            <div id="showactivity">here is reservation</div>
        </section>
        <footer>COPYRIGHT@Neil</footer>
    </body>
</html>